// modal buy
.remodal.remodal--xl.modal(data-remodal-id='buyProduct')
  button.remodal-close(data-remodal-action='close')
  
  .shops.modal__shops.js-tabs
    .shops__header
      .shops__title Електробайк Vinga ES-08-30 Silver
      .shops__info
        p.shops__price Ціна: 21 432 грн.
        .shops__actions
          p.shops__label В наявності у 8 магазинах
          .ui-tabs.shops__ui-tabs
            button.ui-tabs__btn.is-active.js-tabs-btn
              i.ui-tabs__icon.ui-tabs__icon--list
              span.ui-tabs__title Списком
            button.ui-tabs__btn.js-tabs-btn
              i.ui-tabs__icon.ui-tabs__icon--map
              span.ui-tabs__title На карте
    
    .shops__content

      // list
      .shops__tab.is-active.js-tab
        .shops__responsive
          table.shops__table
            tr.shops__tr
              td.shops__td(colspan='2')
                img.shops__logo(src='__static__img/content/shops/shop-1.png' alt='')
              td.shops__td Пн-Пт: 09:00 - 21:00, Сб: 09:00 - 20:00, Нд: 10:00 - 19:00
              td.shops__td
                a.shops__phone(href='tel:0800216800' title='Позвонить') 0 (800) 216-800
              td.shops__td
                a.shops__link(href='#' title='Перейти') Перейти
            
            tr.shops__tr
              td.shops__td(colspan='2')
                img.shops__logo(src='__static__img/content/shops/shop-2.png' alt='')
              td.shops__td Пн-Пт: 09:00 - 21:00, Сб: 09:00 - 20:00, Нд: 10:00 - 19:00
              td.shops__td
                a.shops__phone(href='tel:0800216800' title='Позвонить') 0 (800) 216-800
              td.shops__td
                a.shops__link(href='#' title='Перейти') Перейти
            
            tr.shops__tr
              td.shops__td.shops__td--city Івано-Франківськ
              td.shops__td.shops__td--address просп.С. Бандеры, 23, ТЦ Городок
              td.shops__td Пн-Пт: з 9:00 до 19:00, Сб: з 10:00 до 18:00, Нд: Вихідний
              td.shops__td
                a.shops__phone(href='tel:+380443934852' title='Позвонить') +380 (44) 393-48-52
              td.shops__td
                a.shops__link(href='#' title='На карте') На карте
            
            tr.shops__tr
              td.shops__td.shops__td--city Івано-Франківськ
              td.shops__td.shops__td--address просп.С. Бандеры, 23, ТЦ Городок
              td.shops__td Пн-Пт: з 9:00 до 19:00, Сб: з 10:00 до 18:00, Нд: Вихідний
              td.shops__td
                a.shops__phone(href='tel:0800216800' title='Позвонить') 0 (800) 216-800
              td.shops__td
                a.shops__link(href='#' title='На карте') На карте
            
            tr.shops__tr
              td.shops__td.shops__td--city Івано-Франківськ
              td.shops__td.shops__td--address вул. Вадима Гетьмана, 13, в магазині BRAIN, Соломенський район, біля (Метро) "Шулявска" Напроти ТРЦ "Більшовик"
              td.shops__td Пн-Пт: з 9:00 до 19:00, Сб: з 10:00 до 18:00, Нд: Вихідний
              td.shops__td
                a.shops__phone(href='tel:0800216800' title='Позвонить') 0 (800) 216-800
              td.shops__td
                a.shops__link(href='#' title='На карте') На карте
            
            tr.shops__tr
              td.shops__td.shops__td--city Івано-Франківськ
              td.shops__td.shops__td--address просп.С. Бандеры, 23, ТЦ Городок
              td.shops__td Пн-Пт: з 9:00 до 19:00, Сб: з 10:00 до 18:00, Нд: Вихідний
              td.shops__td
                a.shops__phone(href='tel:0800216800' title='Позвонить') 0 (800) 216-800
              td.shops__td
                a.shops__link(href='#' title='На карте') На карте
            
            tr.shops__tr
              td.shops__td.shops__td--city Івано-Франківськ
              td.shops__td.shops__td--address просп.С. Бандеры, 23, ТЦ Городок
              td.shops__td Пн-Пт: з 9:00 до 19:00, Сб: з 10:00 до 18:00, Нд: Вихідний
              td.shops__td
                a.shops__phone(href='tel:0800216800' title='Позвонить') 0 (800) 216-800
              td.shops__td
                a.shops__link(href='#' title='На карте') На карте
      
      // map
      .shops__tab.js-tab
        .shops__map
          iframe.shops__iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2252974.572336173!2d30.305529888999455!3d49.02582578802739!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d1d9c154700e8f%3A0x1068488f64010!2z0KPQutGA0LDQuNC90LA!5e0!3m2!1sru!2sru!4v1551053476820' width='100%' height='100%' frameborder='0' style='border:0' allowfullscreen)
