script(src='%=static=%js/separate-js/jquery-3.3.1.min.js')
script(src='%=static=%js/separate-js/svg4everybody.js')
script(src='%=static=%js/separate-js/scroll-lock.js')
script(src='%=static=%js/separate-js/modernizr.min.js')
script(src='%=static=%js/separate-js/sticky-kit.min.js')
script(src='%=static=%js/separate-js/swiper.js')
script(src='%=static=%js/separate-js/plugins-scroll.js')
script(src='%=static=%js/separate-js/jquery.scrollFollow.js')
script(src='%=static=%js/separate-js/select2-4.0.6.min.js')
script(src='%=static=%js/separate-js/jquery.barrating.min.js')
script(src='%=static=%js/separate-js/isotope.pkgd.min.js')
script(src='%=static=%js/separate-js/packery-mode.pkgd.min.js')
script(src='%=static=%js/separate-js/remodal.min.js')
script(src='%=static=%js/separate-js/jquery.fancybox.min.js')
script(src='%=static=%js/separate-js/jquery.inputmask.bundle.js')
script(src='%=static=%js/separate-js/debounce.js')
script(src='%=static=%js/separate-js/sharer.min.js')
script(src='%=static=%js/separate-js/jquery.validate.min.js')
script(src='%=static=%js/separate-js/ion.rangeSlider.min.js')
script(src='%=static=%js/separate-js/lodash.js')
script(src='%=static=%js/separate-js/TweenMax.min.js')
script(src='%=static=%js/separate-js/app.js')
