/* Your custom fonts here */

/* Example

@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/Custom-Font.eot');
    src: url('../fonts/Custom-Font.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Custom-Font.woff') format('woff'),
         url('../fonts/Custom-Font.svg#custom_font') format('svg');
    font-weight: 400;       // For normal width. It could has another value   
    font-style: normal;     // Also could has another value
    }


// Var for using custom font
$CustomFont: 'CustomFont', Helvetica, Arial, sans-serif;
*/

// FONTS

@font-face {
    font-family: 'Museo Sans Cyrillic';
    src: url('../fonts/museosanscyrl/MuseoSansCyrillic-500.eot');
    src: url('../fonts/museosanscyrl/MuseoSansCyrillic-500.eot?#iefix') format("embedded-opentype"),
         url('../fonts/museosanscyrl/MuseoSansCyrillic-500.woff2') format("woff2"), 
         url('../fonts/museosanscyrl/MuseoSansCyrillic-500.woff') format("woff");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrillic';
    src: url('../fonts/museosanscyrl/MuseoSansCyrillic-900.eot');
    src: url('../fonts/museosanscyrl/MuseoSansCyrillic-900.eot?#iefix') format("embedded-opentype"), 
        url('../fonts/museosanscyrl/MuseoSansCyrillic-900.woff2') format("woff2"), 
        url('../fonts/museosanscyrl/MuseoSansCyrillic-900.woff') format("woff");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrillic';
    src: url('../fonts/museosanscyrl/MuseoSansCyrillic-700.eot');
    src: url('../fonts/museosanscyrl/MuseoSansCyrillic-700.eot?#iefix') format("embedded-opentype"), 
        url('../fonts/museosanscyrl/MuseoSansCyrillic-700.woff2') format("woff2"), 
        url('../fonts/museosanscyrl/MuseoSansCyrillic-700.woff') format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrillic';
    src: url('../fonts/museosanscyrl/MuseoSansCyrillic-100.eot');
    src: url('../fonts/museosanscyrl/MuseoSansCyrillic-100.eot?#iefix') format("embedded-opentype"), 
        url('../fonts/museosanscyrl/MuseoSansCyrillic-100.woff2') format("woff2"), 
        url('../fonts/museosanscyrl/MuseoSansCyrillic-100.woff') format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrillic';
    src: url('../fonts/museosanscyrl/MuseoSansCyrillic-300.eot');
    src: url('../fonts/museosanscyrl/MuseoSansCyrillic-300.eot?#iefix') format("embedded-opentype"), 
        url('../fonts/museosanscyrl/MuseoSansCyrillic-300.woff2') format("woff2"), 
        url('../fonts/museosanscyrl/MuseoSansCyrillic-300.woff') format("woff");
    font-weight: 300;
    font-style: normal;
}
