// File for scss-vars.
// For example: main colors, paddings and so on.
$bodyColor: rgba(0, 0, 0, 0.85);
$bodyBg: #F4F4F4;

$primary: #25ABF1;
$accent: #FF8C00;
$success: #4DAC27;
$danger: #DE2925;
$secondary: #F6F6F6;
$light: #F2F2F2;
$placeholderColor: #AFB3B4;
$dark: #2C2B2B;
$black: #000;
$white: #FFF;
$gray: #423E3E;
$gray2: #888;
$gray3: #545151;
$label: #8AA3B0;
$border: #F4F4F4;

$gutter: 20px;

$hd: 1420px;
$xl: 1260px;
$lg: 1023px;
$md: 767px;
$sm: 574px;
$xs: 374px;
